<h1>Les évènements</h1>
<br/>
<% @events.each do |event| %>
<h3><a href="<%= event_path(event.id) %>"> <%= event.title %></h3>
<p><%= event.description %><br/>De: <%= event.admin.username %></p></a>

<% end %>